#workSpace {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#headLine {
    border-bottom: 1px solid black;
    padding-top:25px;
    height: 150px;
    text-align:center;
    font-size: 30px;

}

body {
    margin: 0;
}

#dailyWork,
#weeklySun,
#weeklyThu {
    border: 1px solid gray;
    padding: 10px;
    border-bottom: 0;
    border-right: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

#dailyWork {
    min-height: 500px;
    height: 1fr;
}
#weeklySun,
#weeklyThu {
    min-height: 500px;
    height: 50%;
}

button {
    background-color:rgb(209, 201, 201);
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    border-radius: 12px;
}

@media ( max-width: 800px ) {
    #workSpace {
        display: block;
    }
}
