#workSpace {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#headLine {
    border-bottom: 1px solid black;
    padding-top:25px;
    height: 150px;
    text-align:center;
    font-size: 30px;

}

body {
    margin: 0;
}

#dailyWork,
#weeklySun,
#weeklyThu {
    border: 1px solid gray;
    padding: 10px;
    border-bottom: 0;
    border-left: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

#dailyWork {
    height: 1090px;
}
#weeklySun,
#weeklyThu {
    height: 534px;
}

button {
    background-color:rgb(209, 201, 201);
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    border-radius: 12px;
}